{% extends 'base.html' %}


{% block content %}

<div class="row justify-content-center mt-3  ">

    {% for item in items %}

    <div class="card" style="width: 18rem;">
        <img src="{{ item.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="{% url 'product_item_detail' item.pk %}"><h5 class="card-title">{{ item.title }}</h5></a>
            <p class="card-text">{{ item.price }}₽</p>
            <form action="{% url 'cart_add' item.pk %}" method="post">
                {{ form }}
                {% csrf_token %}
                <input class="btn btn-dark"  type="submit" value="Добавить в корзину">
            </form>

        </div>

    </div>
    {% endfor%}
</div>

{% endblock%}