{% extends 'base.html' %}



{% block content %}






  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="{{ item.image.url }}" class="img-fluid rounded-start" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ item.title }}</h3>
          <h6 class="card-title">{{ itemcat.title }}</h6>
            <h3 class="card-title">{{ item.price }} ₽</h3>
          <form action="{% url 'cart_add' item.pk %}" method="post">
            {{ form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>

        <p class="card-text">{{ item.description }}</p>

      </div>
    </div>
  </div>


{% endblock %}